@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

html, body{
	margin:0;
	font-size:16px;
	background-color:#f2f2f2;
	height:100%;
	font-family:'Adamina';
	background-image:linear-gradient(rgb(179, 194, 255),rgb(204, 216, 255));
	overflow-y: scroll;
}

.navbar{
	float:left;
	width:20%;
	padding:15px 25px;
	font-size:0.9em;
}
.navbar a{
	font-size:1em;
	margin-bottom:10px;
}

.content{
	float:left;
	width:60%;
	padding:40px 120px;
	background-color:white;
    box-shadow: 0 3px 3px 4px rgba(0, 0, 0, .1);
}
  
form{
	/*margin-left:20px;*/
}

  
input, select, button{
	margin:0px 0; /*I changed this*/
	padding:2px 4px;
	-webkit-transition: 0.5s;
 	transition: 0.5s;
 	box-sizing:border-box;
    outline: none;
    border:1px solid grey;
 	border-radius:5px; 	
 	autocomplete:"off"";
}

input:focus{
    border: 1px solid blue;
} 
input[type="submit"]{
	margin:10px 0;
	padding:5px 10px;
	font-family:'Adamina';
	letter-spacing:1px;
	font-size:0.8em;
	cursor:pointer;
	transition:0.5s;
	border: 1px solid blue;		
    color:blue;
    background-color:white;
}
button{
	margin:10px 0;
	padding:5px 10px;
	font-family:'Adamina';
	letter-spacing:1px;
	font-size:0.8em;
	cursor:pointer;
	transition:0.5s;
	border: 1px solid blue;		
    color:blue;
    background-color:white;
}

input[type="submit"]:hover{
    color:white;
	background-color:rgb(102, 102, 255);
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
}
button:hover{
	color:white;
	background-color:rgb(102, 102, 255);
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
}
input[type="radio"]{
	margin-bottom:6px;
}

a:link{
	color:rgb(0,153,77);
	text-decoration:none;
}
a:visited{
	color:rgb(0,153,77);
}
a:hover{
	color:rgb(0, 102, 51);
	text-decoration:none;
}
a:active{
	color:rgb(0,0,0);
}

table{ 
	margin:auto;
	margin-top:10px;
	margin-top:10px;
	width:70%;
	outline:4px ridge rgb(204, 255, 223);
	border-collapse:collapse;	
}
tr{
	border-bottom: 1px solid rgb(200,200,200);	
}
tr:last-child {
 	border-bottom: 0;
}
th,td{
	font-size:0.8em;
	padding:5px 5px;
	text-align:left;
	margin:0;
}
th{
	color:rgb(0, 102, 37);
	border-bottom: 1px solid rgb(150,150,150);	
	
}
tr:nth-child(even) {
	background-color:rgb(245,245,245);
}




